<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
      <span>I Love</span><br class="hide-on-large-only">
      <span class="cd-words-wrapper waiting">
        <b class="is-visible">creating</b>
        <b>programming</b>
        <b>developing</b>
      </span>
    </h1>
  </div>
</div>

<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2"> <span class="span_h2">기술적 장벽</span> 때문에 본인의 생각을<br> <span class="span_h2">세상 밖으로</span> 표현하지 못하신 분들을 위한<br><span class="span_h2">프로그래밍 교육 동아리</span> </h2>
      </div>
      <div  class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">desktop_windows</i>
          <h5 class="promo-caption">웹 프로그래밍을 배웁니다</h5>
          <p class="light center">
          웹 서비스를 이루고 있는 프론트앤드(HTML/CSS, js)와 백앤드(RoR)를 만드는 법을 배웁니다<br>
          </p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">lightbulb_outline</i>
          <h5 class="promo-caption">생각을 실현합니다</h5>
          <p class="light center">꿈꿔왔던 자신만의 웹 서비스를 스스로 만들 수 있게 됩니다</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">people</i>
          <h5 class="promo-caption">값진 기회를 경험합니다</h5>
          <p class="light center">창업, 스타트업 관련 경험을 하고 관련된 사람들과 소통할 수 있는 기회를 얻을 수 있습니다</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wow" style="background-image: url('<%= asset_path('middle_background_image.jpg') %>')">
  <p id="title2">멋쟁이 사자처럼 at SNU</p>
</div>
<div class="section scrollspy" id="history">
  <div class="container">
    <h2 class="header text_b">한일들 </h2>
    <div class="row">
      <div class="slider">
        <ul class="slides">
          <% [1,2,3,4,10].each do |item| %>
            <li>
              <img src="<%= asset_path('history'+item.to_s+'.png') %>">
            </li>
          <% end  %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section scrollspy" id="work">
  <div class="container">
    <h2 class="header text_b">만든 서비스 </h2>
    <div class="row" style="margin: 3rem 0;">
      <div class="col s12 l6" style="margin: 1rem 0;">
        <a href="http://www.danspot.kr" target="_blank" class="portfolio-box center">
          <img src="<%= asset_path('danspot.png') %>" class="responsive-img center" alt="" style="max-height: 15rem;">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                스트릿 댄스 레슨 및 학원 모음 사이트
              </div>
              <div class="project-name">
                댄스팟
              </div>
              <span></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 l6" style="margin: 1rem 0;">
        <a href="https://play.google.com/store/apps/details?id=com.handsome.cotable.notibook" target="_blank" class="portfolio-box center">
          <img src="<%= asset_path('notibook.png') %>" class="responsive-img center" alt="" style="max-height: 15rem;">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                서울대생을 위한 공지 알람이
              </div>
              <div class="project-name">
                노티북
              </div>
              <span></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section scrollspy" id="schedule">
  <div class="container">
    <h2 class="header text_b">주요 일정 </h2>
    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="<%= asset_path('schedule4.png') %>">
      </div>
    </div>
  </div>
</div>

<div class="section scrollspy" id="member">
  <div class="container">
    <h2 class="header text_b">구성원 </h2>
    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="<%= asset_path('admin_image.png') %>">
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('.slider').slider({full_width: true});
    $('.carousel').carousel();
    $('.parallax').parallax();
});
</script>
