<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>과제 목록</h1>
      <ul class="tabs" style="background-color:black;">
        <%  @assignmenttitles.each do |title| %> 
          <li class="tab col s3"><a id="assigntitle" href="#assign<%= title.id%>"><%= title.name%></a></li>
        <% end %>
      </ul>
    </div>
    <div class="col s12">
    <div id="wrapper">
    <div id="columns">
    <%  @assignmenttitles.each do |title| %> 
      <div id="assign<%= title.id%>">
        <% j=0;%>
        <% @userassigns.each do |assign| %>
          <% if assign.assignment.title==title.name %>
              <div class="pin">
                  <h1><%=assign.user.name%></h1>
                  <p><%= assign.assignment.comment %></p>
                  <a href="<%= asset_path(assign.assignment.img) %>" class="fancybox"><img src="<%= asset_path(assign.assignment.img) %>"></a>
                  <a style="font-size:50%"href="<%=assign.assignment.git_url%>"><%=assign.assignment.git_url%></a>
                  <a style="font-size:50%" href="">좋아요</a>
              </div>
            <% j=j+1; %>
            <% end %>
        <% end %>
          <% if j==0 %>
              <h1>제출한 사람이 없음</h1>
          <% end %>
        </div>
    <% end %>
    </div>
    </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.fancybox').fancybox();
  $('#title').click(function(){
    console.log($(this).val());
    $.ajax({
      url: '/assignment/get_info',
      dataType: 'json',
      data: {
        title: $(this).val()
      },
      success: function(data){
        $('#assign_description').text(data.desc);
      },
      error: function(){
        $('#assign_description').text("에러가 발생했습니다");
      }
    });
  });
});
</script>