<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>과제 목록</h1>
      <select id="title" name="title">
        <option value="" disabled selected>과제를 선택하세요</option>
        <% AssignmentTitle.all.each do |item| %>
          <option value="<%= item.name %>"><%= item.name %></option>
        <% end %>
      </select>
      <p id="assign_description"></p>
    </div>
    <div class="col s12">
      <div id="wrapper">
        <div id="columns">
              <% @test_assigntitle.assignments.each do |assign| %>
                    <div class="pin">
                        <h1><%= assign.user_assignments.find_by(submition: true).user.name%></h1>
                        <p><%= assign.comment %></p>
                        <a href="<%= asset_path(assign.img) %>" class="fancybox"><img src="<%= asset_path(assign.img) %>"></a>
                        <a style="font-size:50%"href="<%=assign.git_url%>"><%=assign.git_url%></a>
                    </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.fancybox').fancybox();
    $('select').material_select();
    
 $('#title').change(function(){
    $.ajax({
      url: '/assignment/get_board_info',
      dataType: 'json',
      data: {
        title: $(this).val()
      },
      success: function(data){
        $("#columns").empty(); 
        $('#assign_description').text(data.desc);

        for(i=0; i<data.assign.length; i++) {
        $('#columns').append('<div class="pin">' +'<h1>'+data.user[i].name+'</h1>'+'<p>'+data.assign[i].comment+'</p>'+'<a href="'+data.img[i]+'" class="fancybox"><img src="'+data.img[i]+'"></a>'+'<a style="font-size:50%"href="'+data.assign[i].git_url+'">'+data.assign[i].git_url+'</a>'+'</div>');
        }
      },
      error: function(){
        $('#assign_description').text("에러가 발생했습니다");
      }
    });
  });
});
</script>