<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <%  @assignmenttitles.each do |title| %> 
        <% if title.name=="Code Academy" %>
          <li class="tab col s3"><a class="active" href="#assign1">Code Academy</a></li>
        <% else %>
          <li class="tab col s3"><a href="#assign<%= title.id%>"><%= title.name%></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%  @assignmenttitles.each do |title| %> 
    <div id="assign<%= title.id%>" class="col s12">
      <% @userassigns.each do |assign| %>
        <% if assign.assignment.title==title.name %>
          <h1><%=assign.user.name%></h1>
          <a href="<%=assign.assignment.git_url%>"><%=assign.assignment.git_url%></a>
          <img src="<%= asset_path(assign.assignment.img) %>">
          <p><%= assign.assignment.comment %></p>
          <span class="likebtn-wrapper" data-white_label="true" data-identifier="item_1" data-show_like_label="false" data-dislike_enabled="false" data-i18n_after_like="좋아요" data-i18n_like_tooltip="좋아요" data-i18n_unlike_tooltip="취소하기"></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function(){
  $('ul.tabs').tabs();
  });
  (function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");
</script>
