<div class="container" style="width: 50%;">
  <% if params[:submit] == "true" %>
  <div class="row">
    <h3>성공적으로 제출되었습니다</h3>
    <% if current_user.name=="운영진"%>
    <img src="<%= asset_path("정은지 사진")%>">
    <% elsif current_user.name=="송재윤" || current_user.name=="윤현영" || current_user.name=="송기서" || current_user.name=="김근영"%>
    <img src="<%= asset_path("고양이")%>">
    <% elsif current_user.name=="이상진"%>
    <img src="<%= asset_path("진구")%>">
    <% else %>
    <img src="<%= asset_path("설현1")%>">
    <% end %>
  </div>
  <% else %>
  <h1>과제 제출</h1>
  <div class="row">
    <%= form_tag "/assignment/submit_proc", class: "col s12", multipart: true do %>
      <div class="row">
        <div class="input-field col s12">
          <select id="title" name="title">
            <option value="" disabled selected>과제를 선택하세요</option>
            <% AssignmentTitle.all.each do |item| %>
              <option value="<%= item.name %>"><%= item.name %></option>
            <% end %>
          </select>
          <p id="assign_description"></p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 file-field input-field">
          <div class="btn">
            <span>Image</span>
            <input type="file" accept="image/*" name="img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="git_url" type="url" class="validate" name="git_url" style="font-size:150%;">
          <label for="git_url" style="font-size:150%;">URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="comment" name="comment" class="materialize-textarea" style="padding: 1rem 0; font-size:150%;"></textarea>
          <label for="comment" style="font-size:150%;">설명</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center" style="margin-bottom:10%;">
          <input class="btn waves-effect waves-light" type="submit" name="action" value="Submit">
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('select').material_select();

  $('#title').change(function(){
    console.log($(this).val());
    $.ajax({
      url: '/assignment/get_info',
      dataType: 'json',
      data: {
        title: $(this).val()
      },
      success: function(data){
        $('#assign_description').text(data.desc);
      },
      error: function(){
        $('#assign_description').text("에러가 발생했습니다");
      }
    });
  });
});

</script>
